<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwinCat_Motion_ADS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwinCat_Motion_ADS.Properties.Settings>
            <setting name="timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="velocity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cycles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cycleDelaySeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reversalVelocity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reversalExtraTimeSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reversalSettleTimeSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="initialSetpoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numberOfSteps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stepSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="settleTimeSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reversalDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="overshootDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="amsNetID" serializeAs="String">
                <value>130.246.58.3.1.1</value>
            </setting>
            <setting name="measurementDevices" serializeAs="String">
                <value />
            </setting>
            <setting name="testTitle" serializeAs="String">
                <value>New Test</value>
            </setting>
            <setting name="airCycles" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="airSettlingReads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="airReadDelayMs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="airDelayAfterExtend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="airDelayAfterRetract" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="airExtendTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="airRetractTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="endSetpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="testType" serializeAs="String">
                <value>EndToEnd</value>
            </setting>
            <setting name="yAxisMax" serializeAs="String">
                <value />
            </setting>
            <setting name="yAxisMin" serializeAs="String">
                <value />
            </setting>
            <setting name="yAxisSep" serializeAs="String">
                <value />
            </setting>
            <setting name="xAxisMax" serializeAs="String">
                <value />
            </setting>
            <setting name="xAxisMin" serializeAs="String">
                <value />
            </setting>
            <setting name="xAxisSep" serializeAs="String">
                <value />
            </setting>
            <setting name="yAxisTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="xAxisTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="yAxisDec" serializeAs="String">
                <value />
            </setting>
            <setting name="xAxisDec" serializeAs="String">
                <value />
            </setting>
            <setting name="XL80exe" serializeAs="String">
                <value>C:\Program Files\SMACK_Comissioning_Software\XL80\Renishaw_XL80_App.exe</value>
            </setting>
        </TwinCat_Motion_ADS.Properties.Settings>
    </userSettings>
</configuration>